/* Global styles */
body {
    background-color: #F7EDE2;
    font-family: Arial, sans-serif;
}

h1,
h2,
h3 {
    color: #333;
    margin-top: 0;
}

p {
    line-height: 1.5;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Company name */
.company-name {
    text-align: center;
    margin-top: 40px;
}

/* Now hiring section */
.now-hiring {
    background-color: #F5D5C5;
    padding: 40px;
    margin: 40px 0;
}

.now-hiring h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid #333;
    width: 200px;
}

.now-hiring-content {
    margin-bottom: 30px;
    text-align: center;
    margin: 0 auto;
    width: 70%;
    justify-content: center;
}

/* Details section */


.now-hiring-details {

    background-color: #F7EDE2;
    padding: 40px;
    margin: 0 0 40px 0;
    box-shadow: 25px 25px 10px rgba(0, 0, 0, 0.2);
}



.about-company {
    margin-top: 30px;
}

.about-company h3 {
    margin-top: 0;
}

.what-we-offer {
    margin-top: 30px;
}

/* Job role section */
.job-role {
    background-color: #F5D5C5;
    padding: 40px;
    margin: 40px 0;
}

.job-role h3 {
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase;
}

/* Selection process section */
.selection-process {
    background-color: #F7EDE2;
    padding: 40px;
    margin: 0 0 40px 0;
}

.selection-process h3 {

    margin-top: 0;
}

/* Nomination form section */
.nomination-form {
    background-color: #F5D5C5;
    padding: 40px;
    margin: 40px 0;
}

.nomination-form h3 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
}

.nomination-form .form-group {
    margin-bottom: 20px;
}

.nomination-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.nomination-form input[type=text] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
}

.nomination-form button {
    background-color: #E9BFA8;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.nomination-form button:hover {
    background-color: #C69C88;
}